@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');
}

:root {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

img, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: #1F2937;
}

body > * {
  padding: 0 15%;
}

button {
  border-radius: .7rem;
  font-size: 1.8rem;
  font-weight: 900;
  padding: .7rem 3.5rem;
  background-color: #3882F6;
  border: none;
  color: #F9FAF8;
}

button:hover {
  transform: scale(1.04);
  transition: ease-in .1s;
  cursor: pointer;
}

button:active {
  transform: scale(.96);
  transition: ease-in .1s;
}

header {
  background-color: #1F2937;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.logo-text {
  font-size: 2.4rem;
  color: #F9FAF8;
}

.nav-links {
  display: flex;
  gap: 2.8rem;
}

.selected {
border-bottom: #E5E7EB solid .2rem;
}

.nav-links > a {
  color: #E5E7EB;
  font-size: 1.8rem;
  text-decoration: none;
}

.nav-links > a:hover {
border-bottom: #e5e7eb88 solid .2rem;
cursor: pointer;
}

.hero {
  display: flex;
  padding: 15rem 0;
  justify-content: space-between;
}

.hero-text-box {
  width: 50rem;
}

.hero-text-box h1 {
  font-size: 4.8rem;
  color: #F9FAF8;
  font-weight: 900;
  letter-spacing: .08rem;
  line-height: 1.2;
}

.hero-text-box p {
  font-size: 1.8rem;
  color: #E5E7EB;
  margin-bottom: 1rem;
  letter-spacing: .08rem;
}

.hero-media-box img{
  width: 70rem;
  height: 30rem;
  object-fit: cover;
}

.back-to-top-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 5rem;
  right: 10rem;
  border-radius: 50000px;
  width: 8rem;
  height: 8rem;
}

.back-to-top-btn > a {
  text-decoration: none;
  font-size: 6rem;
  font-weight: 900;
  color: #F9FAF8;
  padding: 0 3rem;
}

footer {
  background-color: #1F2937;
}

.copyright {
  font-size: 1.8rem;
  font-weight: 300;
  color: #E5E7EB;
  text-align: center;
  padding: 3rem 0;
}